@import '../../styles/animations';
@import '../../styles/variables';
@import '../../styles/mixins';

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: $color-white;
  z-index: 10000;

  @include theme(dark) {
    background-color: $color-slate-dark-5;
  }

  .container {
    width: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.description{
  animation-name: fadeAppear;
  animation-duration: 1s;
  animation-delay: 3.8s;
  @include theme(dark) {
    background-color: $color-slate-dark-5;
  }
}
  .progress {
    width: 100%;
    border-radius: $radius-small;
    height: 0.5rem;
    position: relative;
    top: 2rem;
    background-color: $color-slate-light-2;
    overflow: hidden;
    animation-name: fadeAppear;
    animation-duration: 1s;

    @include theme(dark) {
      background-color: $color-slate-dark-3;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      border-radius: $radius-small;
      height: 0.4rem;
      width: 100%;
      left: -100%;
      background-image: linear-gradient(to right, $color-primary-main, $color-primary-dark);
      animation-name: load;
      animation-duration: 1.7s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }
  }
}
